*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --black: #545963;
  --blue: #44558F;
  --light-blue: #E0FAFF
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: var(--black)
}

p {
  font-family: 'Yrsa', serif;
}

:not(p) {
  font-family: 'Ramaraja', serif;
  font-weight: lighter
}

.grid > * {
    margin: .5rem;

}

.bg-blue {
  background-color: var(--blue);
  color: var(--light-blue);
}
